<h1>Edit Author:</h1>
<%= form_for(@author) do |f| %>

  <%= f.label :name %>:<br>
  <%= f.text_field :name, value: @author.name %><br><br>

  Birthdate:<br>
  
  <%= date_field(:author, :birthdate) %><br><br>

  <%= f.label :bio %>graphy:<br>
  <%= f.text_area :bio, value: @author.bio, cols: "80", rows: "10" %><br><br>

  <%= f.submit %>

<% end %>