<!DOCTYPE html>
<html>
  <head>
    <title>Greatreads</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <style>
      body {
        background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/38/60/JFLrg6.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #333;
        font-family: "Lucida Console", Monaco, monospace;
        line-height: 18px;
      }
    </style>

    <h1 style="font-size:40px;text-align:center">Greatreads</h1>
    <%= yield %>
    <br><br><br>
    <% if session[:user_id] %>
        <%= link_to "Log Out", sessions_destroy_path %>
      <% else %>
        <%= link_to "Sign In", sessions_new_path %>
        &emsp;
        <%= link_to "Sign Up", new_user_path %>
    <% end %>
  </body>
</html>
